* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mix */
body {
  font-family: 'Lato', sans-serif;
  background-color: #35363a;
}

.starActive {
  color: yellow;
}

/* Typo */
h1 {
  color: red;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

/* bottoni */
.btn {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 0;
  border-radius: 7px;
  cursor: pointer;
  font-weight: 600;
  color: #8B0000;
  text-transform: uppercase;
  transition: all 0.2s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(1.08);
}
/* /bottoni */

/* intestazione */
header {
  background-color: #202124;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

header input {
  padding: 3px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.7);
  margin-right: 5px;
  border-radius: 2px;
}

header input:focus {
  outline: none;
}
/* /intestazione */

/* corpo della pagina */
main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 70px;
}

.films_container {
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  margin-right: 4px;
  max-width: calc(308px * 4);
}

/* cards dei film */
.film {
  height: 450px;
  width: 300px;
  position: relative;
  margin: 4px;
  cursor: pointer;
  display: flex;
  transition: all 0.5s;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #202124;
  color: #fff;
  padding: 30px 15px;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay p {
  color: rgba(255, 255, 255, 0.8);
  margin: 5px 0;
}

.overlay p strong {
  color: #fff;
}

.overlay .flag {
  width: 21px;
  margin-left: 10px;
  -webkit-box-shadow: 0 0 7px rgb(255 255 255 / 50%);
}

.overlay .overview {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.film:hover .overlay{
  opacity: 1;
}
/* /cards dei film */

/* frecce */
main .arrow_container {
  display: none;
  line-height: 450px;
  font-size: 50px;
  font-weight: bold;
  margin: 0 20px;
}

main .arrow_container.display {
  display: block;
}

main .arrow_container i {
  cursor: pointer;
}
/* /frecce */
/* /corpo della pagina */
