<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue BoolFlix</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    <!-- /Google Font -->

    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- /font-awesome -->

    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- /axios -->

    <!-- vueJs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- vueJs -->

    <!-- foglio di stile -->
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>

    <div id="root">
      <!-- intestazione -->
      <header>
        <h1>Boolflix</h1>
        <!-- searchbar principale -->
        <div class="main_searchbar">
          <input @keyup.enter="searchFilm" type="text" name="search-film" value="" placeholder="cerca nome del film" v-model="search">
          <button @click="searchFilm" class="btn" type="button" name="button">vai</button>
        </div>
        <!-- /searchbar principale -->
      </header>
      <!-- /intestazione -->

      <!-- corpo della pagina -->
      <main>
        <!-- freccia sinistra -->
        <div class="arrow_container" :class="{display: displayIf}">
          <i @click="returnSlider" class="fas fa-angle-left" ></i>
        </div>
        <!-- /freccia sinistra -->

        <div :class="{display: displayFilms}" class="films_container">
          <!-- film -->
          <div :style="{left : goLeft}" v-for="film in filmAndSeries" class="film">
            <!-- overlay -->
            <div class="overlay">
              <!-- genere -->
              <p v-if="film.title"><strong>Genere:</strong> film</p>
              <p v-else-if="film.name"><strong>Genere:</strong> serie tv</p>
              <!-- /genere -->

              <!-- titolo -->
              <p><strong>Titolo:</strong> {{film.title}}{{film.name}}</p>
              <!-- /titolo -->

              <!-- titolo originale -->
              <p><strong>Titolo originale:</strong> {{film.original_title}}{{film.original_name}}</p>
              <!-- /titolo originale -->

              <!-- lingua originale -->
              <div>
                Lingua Originale:
                <img class="flag" v-if="languages.includes(film.original_language)" :src="'img/' + film.original_language + '.svg'" :alt="film.original_language">
                <span v-if="!(languages.includes(film.original_language))"> {{film.original_language}}</span>
              </div>
              <!-- /lingua originale -->

              <!-- voto -->
              <p>
                <strong>Voto:</strong> <i v-for="(star, index) in voteStars" class="fas fa-star" :class="{starActive : star <= film.vote_average }"></i>
              </p>
              <!-- /voto -->

              <!-- overview -->
              <p v-if="film.overview != ''" class="overview"><strong>Overview:</strong> {{film.overview}}</p>
              <!-- /overview -->
            </div>
            <!-- /overlay -->

            <!-- immagine di copertina delle cards con i film -->
            <img class="poster" :src="(film.poster_path ? 'https://image.tmdb.org/t/p/w300' + film.poster_path : 'img/ciak.jpg')" :alt="film.title">
            <!-- /immagine di copertina delle cards con i film -->
          </div>
          <!-- /film -->

        </div>
        <!-- freccia destra -->
        <div class="arrow_container" :class="{display: displayIf}">
          <i @click="goSlider" class="fas fa-angle-right" ></i>
        </div>
        <!-- /freccia destra -->

      </main>
      <!-- /corpo della pagina -->
    </div>

  <!-- fogli javascript -->
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
